target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
.idea
*.iws
*.iml
*.ipr
.vscode/
.springBeans
.sts4-cache

### Environment & Logs ###
.env
*.log


#auth-service-ignore
.project
.classpath
.settings/
auth-service/.project
auth-service/.classpath
auth-service/.settings/
auth-service/target/
